.contcard{
    margin-top: 3%;
}

.imagcard{
    width: 100%;
    height: 35vh;
}
.card{

    margin-top: 10%;
}
.botaum{
    background-color: black;
    color: white;
    width: 90%;
    font-size: 100%;
    opacity: 95%;
}

.botaum:hover{
    background-color: red;
    opacity: 100%;
    
    

}