
.tex{
    margin-top: 3%;
    font-size: 20px;
    color: white;
}
.linha1{
    background-color: rgb(180, 68, 68);
}
.linha2{
    background-color: rgb(173, 36, 36);;
}
.hfootercult{ 
    background-color: red;
    text-align: center;
    height: 50px; 
    
}