.nav-link{
    color: rgb(231, 79, 79);
    font-size: x-large;
    border-style:inset;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    padding: 3%;
}
.nav-item{
    
}
.divnav{
    
}