.nav-link{
    color: rgb(231, 79, 79);
    font-size: x-large;
    
}
.colnav {
    text-align: center;
    border-style: ridge;
    border-color: red;
    border-left: none;
    border-right: none;



}


@media screen and (max-width: 676px) {
    .colnav {
        border-top: none;
        border-right-style: groove;
        border-left-style: groove;
        border-color: red;
    }
    
}